body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.btn {
  background-color: white;
  font-weight: 20px;
  border: 1px solid gray;
  padding: 5px 10px;
}

pre {
border: 1px solid #20262E;
padding: 10px;
}

.purple {
margin: 10px;
padding-left: 10px;
border-left: 3px solid blueviolet;
}

.yellow {
  margin: 10px;
  padding-left: 10px;
  border-left: 3px solid gold;
  }

ul {
  list-style: none;
  padding-inline-start:  0px;
}

input[type='text']{
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}